@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@using MottuWeb.Models

@model LocationDTO
@{
}
<form method="post">
    <input asp-for="Id" hidden />
    <div class="container border p-4">
        <div class="row text-center">
            <h1>Locação</h1>
        </div>

        <div class="row">
            <div class="col-md-6 offset-3 pb-2">
                <label class="form-label">Data de Locação</label>
                <input class="form-control" asp-for="StartDate" type="date" placaholder="Data de Locação" readonly>
                <span asp-asp-validation-for="StartDate" class="text-danger"></span>
            </div>
            <div class="col-md-6 offset-3 pb-2">
                <label class="form-label">Informe a Data de Devolução</label>
                <input class="form-control" asp-for="EndDate" type="date" placeholder="Data de devolução">
                <span asp-asp-validation-for="EndDate" class="text-danger"></span>
            </div>
            <div class="col-md-6 offset-3 pb-2">
                <label class="form-label">Tipo de Plano</label>
                <input class="form-control" asp-for="PlanDays" placeholder="Plano" readonly>
            </div> 
            <input type="hidden" name="MotorcycleId" value="@ViewBag.Motorcycle.Id" />
            <div class="col-md-6 offset-3 pb-2">
                <label class="form-label">Moto</label>
                <select asp-for="MotorcycleId" class="form-control" disabled>
                    <option selected value="@ViewBag.Motorcycle.Id">@ViewBag.Motorcycle.Plate</option>
                </select>
            </div>
            <div class="col-md-6 offset-3 pb-2">
                <button type="submit" class="form-control btn btn-success" value="Submit">Registrar</button>
            </div>
        </div>
    </div>

</form>